<div class="title">
  <div class="title-text">
  <h1>Welcome to Bill's Galley</h1></td>
  </div>
  <div class="title-image"><%= image_tag( 'ship_01.png', :width => "30%", :height => "30%" ) %></div>

  <div class="title-links"><%= link_to "Recipes", recipes_path %> | Login </div>
</div>
